@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    min-width: 320px;
    color: #090808;
    background-color: #FFFFFF;
}

a {
    color: inherit;
}

.container {
    max-width: 1680px;
    padding: 0 15px;
    margin: 0 auto;
}

// common
.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    text-transform: uppercase;

    @media(max-width: 992px) {
        font-size: 36px;
        line-height: 49px;
    }

    @media(max-width: 576px) {
        font-size: 20px;
        line-height: 27px;
    }
}

.description {
    line-height: 130%;
    color: #828282;

    @media(max-width: 576px) {
        font-size: 15px;
        line-height: 150%;
    }
}

.btn-primary {
    display: inline-block;
    min-height: 64px;
    min-width: 370px;
    padding: 20px 0;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to left, #FFCC2D 50%, #fedc01 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease;

    @media(any-hover:hover) {
        &:hover {
            background-position: left bottom;
        }
    }

    @media(max-width: 992px) {
        min-width: 355px;
    }

    @media(max-width: 576px) {
        min-width: 100%;
        min-height: 48px;
    }
}

.back-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 11px 6px 38px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    background: linear-gradient(to left, #fedc01 50%, #FFCC2D 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 0.5s ease;

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        left: 9px;
        width: 21px;
        height: 16px;
        background-image: url(../images/icon-back.svg);
        background-repeat: no-repeat;
    }

    @media(any-hover:hover) {
        &:hover {
            background-position: right bottom;
        }
    }

    @media(max-width: 767px) {
        width: 91px;
        left: 0;
    }
}

// header
.header {
    padding: 50px 0 40px;

    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 60px;
    }

    &__catalog-btn {
        position: relative;
        overflow: hidden;
        z-index: 1;
        padding: 15px 75px;
        font-weight: 800;
        line-height: 25px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        background-color: #090808;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            z-index: -1;
            transition: .4s;
        }

        &::before {
            height: 100%;
            background-color: #ffcc00;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        @media(any-hover:hover) {
            &:hover {
                background-color: #111111;
                color: #111111;
                transition: background-color .2s .4s;

                &::before {
                    width: 90%;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__btn {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        &:not(:last-child) {
            margin-right: 50px;
        }

        @media(any-hover:hover) {
            &:hover {
                .header__btn-title {
                    color: #FFCC2D;
                }

                .header__btn-path {
                    transition: 0.3s ease;
                    stroke: #FFCC2D;
                }
            }
        }
    }

    &__btn--search {
        display: none;
    }

    &__btn--favorite {
        &.active {
            .header__btn-icon {
                fill: #090808;
            }
        }
    }

    &__btn-icon {
        max-width: 30px;
        max-height: 30px;
        margin-bottom: 6px;
        transition: 0.3s ease;
        stroke: #FFCC2D;
    }

    &__btn-title {
        font-size: 15px;
        line-height: 20px;
        transition: 0.3s ease;
    }

    &__btn-counter {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 12px;
        height: 12px;
        background: #FFCC2D;
    }
}

.search {
    position: relative;
    flex-grow: 1;
    padding-left: 82px;
    padding-right: 65px;
    margin: 0 auto;

    &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 85px;
        width: 25px;
        height: 25px;
        background-image: url('../images/icon-search.svg');
        background-repeat: no-repeat;
    }

    &__input {
        width: 100%;
        padding: 15px 85px 15px 20px;
        border-bottom: 1px solid #000000;

        &::placeholder {
            color: #828282;
        }
    }
}

@media(max-width: 992px) {
    .header {
        padding: 25px 0 22px;

        &__catalog-btn {
            padding: 12px 55px;
            font-size: 16px;
            line-height: 22px;
        }

        &__btn {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        &__btn-title {
            display: none;
        }

        &__btn-counter {
            display: block;
        }
    }

    .search {
        padding-left: 40px;
        padding-right: 40px;

        &::after {
            top: 10px;
            right: 55px;
        }

        &__input {
            padding: 15px 55px 6px 20px;
        }
    }
}

@media(max-width: 767px) {
    .header {
        padding: 20px 0 20px;

        &__inner {
            height: 94px;
            flex-direction: column;
            align-items: center;
        }

        &__catalog-btn {
            width: 100%;
            margin-bottom: 20px;
        }

        &__btn--search {
            display: block;
        }

        &__buttons {
            justify-content: space-between;
            width: 100%;
        }
    }

    .search {
        display: none;
    }
}

// crumbs 
.crumbs {
    display: flex;
    margin-bottom: 25px;

    &__item {
        position: relative;
        font-weight: 500;
        font-size: 15px;
        line-height: 120%;
        color: #BDBDBD;

        &:not(:last-child) {
            margin-right: 29px;
        }

        &:not(:first-child) {
            padding-left: 20px;

            &::after {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 10px;
                height: 20px;
                background-image: url(../images/icon-arrow.svg);
                background-repeat: no-repeat;
            }
        }
    }

    &__item--сurrent {
        color: #068145;
    }
}

// area
.area {
    padding-bottom: 86px;

    &__title {
        margin-bottom: 20px;
    }

    &__description {
        margin-bottom: 34px;
    }

    &__btn {
        margin-bottom: 80px;
    }

    &__programs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__programs-item {
        position: relative;
        max-width: 530px;
        overflow: hidden;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: radial-gradient(133.55% 429.94% at 0% -4.93%, rgba(255, 255, 255, 0) 34.53%, #FFFFFF 80.89%);
        }

        @media(any-hover:hover) {
            &:hover {
                &::after {
                    background: radial-gradient(133.55% 429.94% at 0% -4.93%, rgba(255, 255, 255, 0) 34.53%, #ffffffbd 80.89%);
                }

                .area__programs-image {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__programs-image {
        max-height: 197px;
        width: 100%;
        object-fit: cover;
        object-position: top;
        transition: all 1s ease-in;
    }

    &__programs-footer {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        padding: 20px;
        background: #3EA43B;
    }

    &__programs-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #FFFFFF;
    }

    &__programs-icon {
        width: 24px;
        height: 24px;
    }

    &__programs-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        text-align: right;
        color: #FFFFFF;
    }

    &__programs-info {
        line-height: 150%;
        text-align: right;
        color: #FFFFFF;
    }
}

@media(max-width: 992px) {
    .area {
        padding-bottom: 25px;

        &__programs {
            grid-template-columns: repeat(2, 1fr);
            gap: 18px;
        }

        &__title {
            margin-bottom: 10px;
        }

        &__btn {
            margin-bottom: 57px;
        }
    }
}

@media(max-width: 767px) {
    .area {
        &__programs {
            grid-template-columns: repeat(1, 1fr);
            gap: 18px;
        }

        &__programs-item {
            max-width: 100%;
        }
    }
}

@media(max-width: 576px) {
    .area {

        &__description,
        &__btn {
            margin-bottom: 32px;
        }
    }
}

// program
.program {
    position: relative;
    padding-bottom: 75px;

    &__title {
        margin-bottom: 5px;
    }

    &__subtitle {
        margin-bottom: 26px;
    }

    &__description {
        margin-bottom: 40px;
    }

    &__btn {
        margin-bottom: 80px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 30px;
    }

    &__item {
        transition: 0.3s ease;

        &:nth-child(1) {
            .program__image {
                background: #3EA43B;
            }
        }

        &:nth-child(2) {
            .program__image {
                background: #4D7FCA;
            }
        }

        &:nth-child(3) {
            .program__image {
                background: #FFCC2D;
            }
        }

        &:nth-child(4) {
            .program__image {
                background: linear-gradient(180deg, #FF6262 0%, #E82D2D 100%);
            }
        }

        @media(any-hover:hover) {
            &:hover {
                transform: translateY(-5px);
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 300px;
    }

    &__logo {
        max-width: 100%;
        object-fit: contain;
    }

    &__content {
        min-height: 84px;
        padding: 12px 40px;
        background: #090808;
    }

    &__name {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
    }
}

@media(max-width: 1366px) {
    .program {
        &__list {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
        }
    }
}

@media(max-width: 992px) {
    .program {
        margin-bottom: 25px;

        &__title {
            margin-bottom: 2px;
        }

        &__description {
            margin-bottom: 33px;
        }

        &__btn {
            margin-bottom: 60px;
        }
    }
}

@media(max-width: 767px) {
    .program {
        padding-top: 54px;

        &__list {
            gap: 20px;
            grid-template-columns: repeat(1, minmax(200px, 1fr));
        }

        &__description {
            margin-bottom: 22px;
        }

        &__btn {
            margin-bottom: 30px;
        }
    }
}

// workout
.workout {
    position: relative;
    padding-bottom: 75px;

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        margin-bottom: 40px;
    }

    &__item {
        font-weight: 500;
        line-height: 150%;
    }

    &__btn {
        margin-bottom: 80px;
    }

    &__timetable {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

    &__image {
        flex: 0 0 390px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 384px;
        background: #3EA43B;
    }

    &__banner {
        display: none;
    }

    &__tables {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__product {
        display: none;
    }

}

@media(max-width: 1250px) {
    .workout {
        &__image {
            display: none;
        }

        &__banner {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }

        &__banner-image {
            flex: 0 1 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 260px;
            background: #3EA43B;
        }

        &__name {
            padding: 20px 10px;
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
            background: #090808;
        }
    }
}

@media(max-width: 767px) {
    .workout {
        padding-top: 54px;
    }
}

@media(max-width: 576px) {
    .workout {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;

        &__banner {
            order: 0;
            margin-bottom: 13px;
        }

        &__title {
            order: 1;
            margin-bottom: 14px;
            font-size: 26px;
            line-height: 36px;
        }

        &__list {
            order: 2;
            margin-bottom: 38px;
        }

        &__name {
            display: none;
        }

        &__timetable {
            order: 3;
            margin-bottom: 34px;
        }

        &__btn {
            order: 4;
            margin-bottom: 38px;
        }

        &__product {
            display: block;
            order: 5;
        }

        &__product-title {
            margin-bottom: 26px;
            font-size: 26px;
            line-height: 36px;
        }

        &__product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 16px 22px;
            border: 1px solid #A5ADBB;
        }

        &__product-image {
            max-width: 100%;
        }

        &__product-name {
            display: block;
            align-self: flex-end;
            padding-top: 7px;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
        }
    }
}

// table
.table {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;


    &__title {
        font-size: 20px;
        line-height: 27px;
        color: #F4F4F2;
        background: #068145;
    }

    &__row {
        background: #FFFFFF;

        &:nth-child(even) {
            background: #F4F4F2;
        }
    }

    &__cell {
        padding: 3px 24px;
    }

    &__cell--header {
        padding: 8px 24px;
    }
}

@media(max-width: 1250px) {
    .table {
        flex: 0 1 45%;
    }
}

@media(max-width: 992px) {
    .table {
        flex: 0 1 100%;

        &__cell {
            padding: 3px 4px;
        }

        &__cell--header {
            padding: 8px 4px;
        }
    }
}

.btn {
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 2px;
    background-color: transparent;
    border: 3px solid #333;
    padding: 6px 12px;
    transition: all 0.5s ease;
    cursor: pointer;
}